<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>个人简历</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="../css/swiper.min.css" charset="utf-8"/>
    <link rel="stylesheet/less" href="../css/index.less" charset="utf-8"/>
    <script>
        var less = {
            env: 'development',
            poll: 1000,
        }
    </script>
    <script type="text/javascript" charset="utf-8" src="../lib/less-2.5.3.min.js"></script>
    <script>
        less.watch();
    </script>
</head>
<body>
<div class="main">
    <div class="music" id="music">
       <!-- <audio src="../source/BigBang-If%20You-(KR%20Ver.).mp3"></audio>-->
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide page1 ">
                <div class="bg"></div>
                <div class="message">
                    <p>请问您是不是</br>正在寻找一位</br>全栈工程师呢？</p>
                </div>
                <div class="person"></div>
                <div class="ok">是的呢</div>
                <div class="cancel">并没有</div>
            </div>
            <div class="swiper-slide page2 ">
                <!--<i class="floatContent"></i>-->
                <div class="bg"></div>
                <div class="chatList">
                    <div class=" chat chat1">
                        <span></span>

                        <div><p>小刘,我要的人有眉目没？</p><i></i></div>
                    </div>
                    <div class="chat chat2"><span></span>

                        <div><p>老大,现在前端的人是不少,只是这合适的不多...</p><i></i></div>
                    </div>
                    <div class="chat chat3">
                        <span></span>

                        <div><p>我只要求精通原生JS, Node,ReactNative,Vue....</p><i></i></div>
                    </div>
                    <div class="chat chat4">
                        <span></span>

                        <div><p>您这个要求有点高啊</p><i></i></div>

                    </div>
                    <div class="chat chat5">
                        <span></span>

                        <div><p>你尽量...&nbsp;看着办吧！</p><i></i></div>
                    </div>
                </div>

            </div>
            <div class="swiper-slide page3 ">
                <div class="bg"></div>
                <p class="problem"><!--如果您遇到了以上的这些情况
                如果您正在寻找一名全栈工程师&nbsp;那么巧了同样我也</br>正在寻求一份稳定长知识的工作--></p>
                <i class="p2">如果真是这样</i>

                <div><span class="" id="p3Click">请猛戳这里</span></div>
                <em></em>
            </div>
            <div class="swiper-slide page4 ">
                <div class="bg"></div>
                <div class="img"><img src="../img/resume.png" alt=""/></div>
                <p>-求职全栈工程师-</p>
                <span></span>
                <i></i>
            </div>
            <div class="swiper-slide page5 ">
                <div class="bg"></div>
                <span></span>
                <i></i>
                <em></em>

                <p class="p5_info">个人信息</p>

                <p class="p5_name"><span>姓名:</span><em>马超</em></p>

                <p class="p5_position"><span>职位:</span><em>前端中级工程师</em></p>

                <p class="p5_major"><span>专业:</span><em>电子与信息</em></p>

                <p class="p5_school"><span>毕业院校:</span><em>辽工大</em></p>

                <p class="p5_degree"><span>学历:</span><em>本科</em></p>

                <p class="p5_experience"><span>工作经验:</span><em>2年</em></p>
            </div>
            <div class="swiper-slide page6 ">
                <div class="bg"></div>
                <div class="ball ball1"></div>
                <div class="ball ball2"></div>
                <div class="ball ball3"></div>
                <div class="ball ball4"></div>
                <div class="ball ball5"></div>
                <div class="ball ball6"></div>
                <span></span>
                <i></i>

                <p class="p6Skills">专业技能</p>

                <p class="p6Node">Node</p>

                <p class="p6Re">React</p>

                <p class="p6H5">H5</p>

                <p class="p6Vue">Vue</p>

                <p class="p6Js">JS</p>

                <p class="p6Frame">各种框架</p>

            </div>
            <div class="swiper-slide page7 ">
                <div class="bg"><img src="../img/moon.jpg" alt=""/></div>
                <span></span>
                <i></i>
                <em></em>
                <strong></strong>

                <p class="p7Exercise">工作经验</p>

                <div class="p7Line">
                    <div class="exp1">
                        <p class="p1">2012/1-2013/9</p>

                        <p class="p2">公司:&nbsp;xxx技术有限公司</p>

                        <p class="p3">职位:&nbsp;开发测试工程师</p>
                    </div>
                    <div class="exp2">
                        <p class="p1">2013/9-今</p>

                        <p class="p2">公司:&nbsp;xxx技术有限公司</p>

                        <p class="p3">职位:&nbsp;前端开发工程</p>
                    </div>

                    <i class="i1"></i>
                    <i class="i2"></i>
                </div>

            </div>
            <div class="swiper-slide page8 ">
                <div class="bg"><img src="../img/bg6.jpg" alt=""/></div>
                <span></span>
                <i></i>
                <em></em>

                <p class="p8Skills"><span>自我评价</span></p>

                <div class="content">
                </div>
            </div>
            <div class="swiper-slide page9 ">
                <div class="bg"></div>
                <div class="p9box">
                    <div class="bor"><span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span></div>

                    <div class="heartContent">
                        <div></div>
                        <div>谢</div>
                        <div></div>
                        <div>赏</div>
                        <div>谢</div>
                        <div>观</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script charset="utf-8" type="text/javascript" src="../lib/swiper.min.js"></script>
<script charset="utf-8" type="text/javascript" src="../js/index.js"></script>
</body>
</html>